body {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh; /* минимальная высота равная видимой высоте экрана */
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.back-button {
    background: ##F2F2F2;
    z-index: 1;
    position: absolute;
}

#back-img {

}

#map {
    flex: 1; /* растягиваем #map на всю доступную высоту */
    min-height: 0; /* решение для некоторых браузеров, чтобы гарантировать растягивание */
}