<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/OOO_App/static/loginStyles.css">
    <title>Регистрация</title>
</head>

<body>
    <div class="background-container">
        <h1>Номер телефона</h1>
        <div class="login-container">
            <input type="tel" id="phone" name="phone" pattern="[0-9]{10}" placeholder="+7 (XXX) XXX-XX-XX" required>
            <div class="button-container">
                <a href="/OOO_App/static/templates/main_Menu.html" id="main-button">Продолжить</a>
            </div>
        </div>
    </div>
</body>

</html>
