<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="manifest" href="/OOO_App/static/manifest.json">
    <link rel="stylesheet" href="/OOO_App/static/main_MenuStyles.css">
    <script src="/OOO_App/static/js/mapButton.js"></script>
    <script src="/OOO_App/static/js/app.js"></script>
    <script src="/OOO_App/static/js/productList.js"></script>
    <title>Главное меню</title>
</head>

<body>
    <div class="background-container">
        <div class="panel-head-container">
            <div id="Title-head">
                <h1>Магазин</h1>
            </div>
            <div id="profile-head">
                <button onclick="profile-button" id="profile-button"><img src="/OOO_App/static/img/profile-button.png" id="profile-button-img"></button>
            </div>
        </div>
        <div class="search-panel-container">
            <div class="search-bar-container">
                <img src="/OOO_App/static/img/search.svg" id="search-img">
                <input id="search-bar" placeholder="Найти продукты">
            </div>
            <div id="filters">
                <button onclick="showAlert()" id="filters-button"><img src="/OOO_App/static/img/filters-button.svg" id="filters-img"></button>
            </div>
            <div id="favorites">
                <button onclick="favorites-button" id="favorites-button"><img src="/OOO_App/static/img/favorites-button.svg" id="favorites-img"></button>
            </div>
        </div>
        <div class="map-panel-container">
            <button id="selectButton">
            <span id="selectedPlaceText">Выбрать место...</span>
            <img src="/OOO_App/static/img/triangleMapBarBottom.svg" id="triangleMapImg">
            </button>
            <button id="mapButton" onclick="mapOpen()"><img src="/OOO_App/static/img/map.png" id="MapImg"></button>
            <div id="dropdownList" class="dropdown-list">
                <button value="ВкусноКофе">ВкусноКофе</button>
                <button value="Goodnight">Goodnight</button>
                <button value="Шаурм Club">Шаурм Club</button>
                <button value="The Hamber">The Hamber</button>
                <button value="Пирожоки">Пирожоки</button>
                <button value="Выбрать на карте..." onclick="mapOpen()">...Выбрать на карте...</button>
            </div>
        </div>
        <div class="products-container">
            <div class="products-list-container">
                <div class="product-card" onclick="showAlert()">
                  <img src="/OOO_App/static/img/product.png" alt="Product 1">
                  <button class="add-to-cart-btn">В корзину</button>
                </div>
                <div class="product-card" onclick="showAlert()">
                  <img src="/OOO_App/static/img/product.png" alt="Product 2">
                  <button class="add-to-cart-btn">В корзину</button>
                </div>
                <div class="product-card" onclick="showAlert()">
                  <img src="/OOO_App/static/img/product.png" alt="Product 3">
                  <button class="add-to-cart-btn">В корзину</button>
                </div>
                <div class="product-card" onclick="showAlert()">
                  <img src="/OOO_App/static/img/product.png" alt="Product 4">
                  <button class="add-to-cart-btn">В корзину</button>
                </div>
                <div class="product-card" onclick="showAlert()">
                  <img src="/OOO_App/static/img/product.png" alt="Product 5">
                  <button class="add-to-cart-btn">В корзину</button>
                </div>
                <div class="product-card" onclick="showAlert()">
                  <img src="/OOO_App/static/img/product.png" alt="Product 6">
                  <button class="add-to-cart-btn">В корзину</button>
                </div>
                <div class="product-card" onclick="showAlert()">
                  <img src="/OOO_App/static/img/product.png" alt="Product 7">
                  <button class="add-to-cart-btn">В корзину</button>
                </div>
                <div class="product-card" onclick="showAlert()">
                  <img src="/OOO_App/static/img/product.png" alt="Product 8">
                  <button class="add-to-cart-btn">В корзину</button>
                </div>
                <div class="product-card" onclick="showAlert()">
                  <img src="/OOO_App/static/img/product.png" alt="Product 9">
                  <button class="add-to-cart-btn">В корзину</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
