<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рестораны на карте</title>
    <link rel="stylesheet" href="/OOO_App/static/mapStyles.css">
    <link rel="manifest" href="/OOO_App/static/manifest.json">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=41e8a1d5-a601-4d24-a151-03797b32fbd3&lang=ru_RU" type="text/javascript"></script>
    <script src="/OOO_App/static/js/map.js"></script>
</head>

<body>
    <div class="back-button">
        <a href="/OOO_App/static/templates/main_Menu.html" id="back-ref"></a>
        <img src="/OOO_App/static/img/backTriangle.svg" id="back-img">
    </div>
    <div id="map"></div>
</body>

</html>